
body {
  font-family: 'Lato', sans-serif;
  color: #333;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.hero {
  background-image: url('../../assets/Couples/DSC02794.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
  padding: 400px 50px;
  border-radius: 60px;
  font-family: 'Playfair Display', serif;
}

.hero h1 {
  font-size: 3.5rem;
  margin-bottom: 15px;
}

.hero p {
  font-size: 1.75rem;
  font-weight: 300;
}


.intro {
  text-align: center;
  margin-bottom: 40px;
  padding: 0 20px;
}

.intro h2 {
  font-family: 'Playfair Display', serif;
  font-size: 2.75rem;
  margin-bottom: 25px;
}

.intro p {
  font-family: 'Lato', sans-serif;
  font-size: 1.35rem;
  line-height: 1.8;
  color: #666;
}


.section {
  padding: 3.5rem 1.5rem;
  background-color: #f9f9f9;
  border-radius: 15px;
  margin-bottom: 50px;
}

.philosophy, .services, .chooseus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 0;
  background-color: #fff;
  border-radius: 15px;
  padding: 30px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.philosophy-text, .service-text, .chooseus-text {
  flex: 1;
  padding-right: 50px;
  color: black;
}

.philosophy-image img, .service-image img, .chooseus-image img {
  width: 100%;
  max-width: 450px;
  border-radius: 15px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.how-we-work {
  text-align: center;
  background-color: #1d1c1c;
  color: #fff;
  padding: 150px 50px;
  border-radius: 15px;
  margin: 50px 0;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.how-we-work h3 {
  font-family: 'Playfair Display', serif;
  font-size: 2.5rem;
  margin-bottom: 30px;
}

.how-we-work p {
  font-family: 'Lato', sans-serif;
  font-size: 1.35rem;
  margin-bottom: 30px;
}


.button-container {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-top: 40px;
}

.button {
  padding: 15px 35px;
  background-color: #153ef1;
  border: none;
  border-radius: 35px;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 1.25rem;
  text-decoration: none;
  transition: background-color 0.3s, transform 0.3s;
}

.button:hover {
  background-color: rgb(250, 9, 9);
  transform: scale(1.05);
}

.additional-sections {
  margin-top: 50px;
}
