.blog-section {
    padding: 20px;
    text-align: center;
    background-color: #f9f9f9;
  }
  
  .blog-section h2 {
    margin-bottom: 20px;
  }
  
  .couples {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
  }
  
  .couple {
    width: calc(20% - 20px);
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
  }
  
  .couple:hover {
    transform: scale(1.05);
  }
  
  .couple a {
    text-decoration: none;
    color: inherit;
  }
  
  .couple-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .couple-info {
    padding: 10px;
  }
  
  .couple-info h3 {
    margin: 0;
    font-size: 1.2rem;
    color: #ee0e0e;
  }
  
  .couple-info p {
    margin: 5px 0 0;
    font-size: 0.9rem;
    color: #777;
  }
  